<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579547583807-prso0ehkq1ihm99f8va8ip72huvgj3ep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579547583807-prso0ehkq1ihm99f8va8ip72huvgj3ep</string>
	<key>API_KEY</key>
	<string>AIzaSyDEl5xDr8LaRByRexE0gDS6tv9PMVM64Jc</string>
	<key>GCM_SENDER_ID</key>
	<string>579547583807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasePractice</string>
	<key>PROJECT_ID</key>
	<string>fir-sample-1a0fa</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sample-1a0fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579547583807:ios:c920e71973f4da7c0a6f8a</string>
</dict>
</plist>